body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #333;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#imagem-destacada img {
    width: 100%;
    height: auto;
}

section {
    padding: 20px;
    margin: 20px;
}

h2 {
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 10px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/fundo.jfif');
    background-size: cover; /* Ajusta o tamanho da imagem para cobrir a tela inteira /*/
    background-position: center; /* Centraliza a imagem no plano de fundo /*/
    background-attachment: fixed; /* Faz com que a imagem fique fixa ao rolar a página */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    color: #fff; /* Altera a cor do texto para branco para contraste */
}

nav {
    background-color: rgba(0, 0, 0, 0.7); / Fundo semitransparente /
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

#imagem-destacada img {
    width: 100%;
    height: auto;
}

section {
    padding: 20px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.5); / Fundo semitransparente para as seções */
    border-radius: 10px;
}

h2 {
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
}

form label {
    margin: 10px 0 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form input[type="checkbox"],
form input[type="radio"] {
    margin-right: 10px;
}

form button {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

#contato a {
    color: #fff;
    text-decoration: none;
}
